<div class="row">

  <div class="col-md-3">
    <div class="card shadow-sm p-3">
      <h6>Total Products</h6>
      <h3>120</h3>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm p-3">
      <h6>Total Sales</h6>
      <h3>540</h3>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm p-3">
      <h6>Low Stock</h6>
      <h3 class="text-danger">12</h3>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card shadow-sm p-3">
      <h6>Revenue</h6>
      <h3 class="text-success">$15,000</h3>
    </div>
  </div>

</div>